header nav ul li {
    list-style: none;
}

.popup {
    width: 30%;
    height: 50%;
    background-color: blue;
    position: absolute;
    left: 35%;
    top: 25%;
}
.popup p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.closeBtn {
    background: blue;
    border: none;
    position: absolute;
    left: 90%;
    top: 5%;
}
.closeBtn:hover{
    cursor: pointer;
}